<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBifqey1QFFEaf2sbwJ5QeVBxyHYMz24_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1009951515856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontSurveyQuestions</string>
	<key>PROJECT_ID</key>
	<string>efficiency-1st</string>
	<key>STORAGE_BUCKET</key>
	<string>efficiency-1st.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009951515856:ios:26a2b6d69c31c69089ead5</string>
</dict>
</plist>